{% extends 'base.html' %}

{% block body %}

<p>{{ post.title }}</p>
<b>{{ post.created_by}} | {{ post.created_at}}</b>
<p>{{ post.details}}</p>

{% if user == post.created_by%}
    <a href="update/">update</a>

    <form action="delete/" method="post">
        {% csrf_token %}
        <button type="submit">delete</button>
    </form>
{% endif%}


{% if user.is_authenticated %}
<form action="" method="POST">
    {% csrf_token %}
    {{form}}
    <input type="hidden" name="post" value="{{ post.id }}">
    <button type="submit">comment</button>
</form>
{% else%}
<p>login to comment --> <a href="/login/?next=/{{ post.id }}/">login</a></p>
{% endif %}

{% if comment_list %}
    {% for comment in comment_list %}
        <strong>{{comment.created_by}}</strong>
        <h5>{{ comment.content }}</h5>
        {% if user.is_authenticated %}
        <form action="deleteComment/{{ comment.id}}/" method="post">
            {% csrf_token %}
            <button type="submit">delete</button>
        </form>
        {% endif%}
    {% endfor %}
{% else %}
    <p>No comments.</p>
{% endif %}

{% endblock %}